﻿<div ng-controller="fooBarController">
	<div class="jumbotron">
		<h1>FooBar!</h1>
		<p>This page will print out 100 numbers as a list and replace values that meet the following arguments:</p>
		<ul>
			<li>Numbers divisible by 5 will print "Foo".</li>
			<li>Numbers divisible by 7 will print "Bar".</li>
			<li>Numbers divisible by 5 AND 7 will print "FooBar".</li>
		</ul>
		<p>You can change the number of results printed by changing the number here:</p>

		<div class="alert alert-danger" ng-show="errorMsg">
			<p><strong>{{ errorMsg }}</strong></p>
		</div>

		<input type="number" ng-model="inputNumber" />
		<input type="button" class="btn btn-primary btn-lg" value="Generate FooBar!" ng-click="go()" ng-min="1" ng-max="10000"/>

	</div>

	<div class="results">
		<ul>
			<li ng-repeat="item in results"><strong>{{item.Number}} = </strong>{{ item.Value }}</li>
		</ul>
	</div>

</div>

