﻿<div class="jumbotron" ng-controller="mainController">
	<h1>Hello!</h1>
	<p>This is a Single Page AngularJS Application that is designed to solve two technical problems:</p>
	<ul>
		<li><a href="#foobar">FooBar:</a> A numerical replacement calculation</li>
		<li><a href="#romanNumerals">Roman Numerals:</a> Converting standard , within a specific range, into Roman Numerals</li>
	</ul>

	<p>Select either link above or use the menu at the top of the page to navigate around the site.</p>

	<p>Any problems, questions or to just give Derek the job you can contact me via:</p>
	<ul>
		<li><a href="mailto:derek.hampton@hotmail.com?subject=BTC Application">derek.hampton@hotmail.com</a></li>
		<li>+44(0)7809 447835</li>
	</ul>

</div>