﻿<div ng-controller="romanController">
	<div class="jumbotron">
		<h1>Roman Numeral Converter</h1>
		<p>This App will convert any integer between 1 and 3999 into the corresponding Roman Numerals</p>
		
		<p>Input a number and hit "Calculo!":</p>

		<div class="alert alert-danger" ng-show="errorMsg">
			<p><strong>{{ errorMsg }}</strong></p>
		</div>

		<input type="number" ng-model="inputNumber" />
		<input type="button" class="btn btn-primary btn-lg" value="Calculo!" ng-click="go()" ng-min="1" ng-max="3999" />

		<div class="alert alert-success text-center" ng-show="result">
			<h2>{{ result.Value }} = {{ result.Numeral }}</h2>
		</div>

	</div>

</div>

