﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
	<title>Derek Hampton</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/app")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#/" class="navbar-brand">Derek's App</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
	                <li><a href="#foobar">FooBar</a></li>
	                <li><a href="#romanNumerals">Roman Numerals</a></li>
                </ul>
            </div>
        </div>
    </div>
<div class="container body-content">
	
	<div class="alert alert-danger" ng-hide="1===1">
		<h1>Angular is not working!</h1>
	</div>

	<div id="body">
		
		<div ng-view></div>

		<!-- Redundant Call to @@RenderBody due to using _Layout -->
		@RenderBody()
	</div>

	<hr/>
	<footer>
		<p>&copy; @DateTime.Now.Year - Derek Hampton | BTC Assignment</p>
	</footer>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
